.board-modal{
    position: fixed;
    top: 80px;
    left: 50%;
    height: 365px;
    justify-content: space-evenly ;
    transform: translateX(-50%);
}

.board-modal,.boards-list{
    width: 80%;
    max-width: 300px;
    height: max-content;
    padding: 1em 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1em;
    background-color: var(--dark-gray);
    color: var(--medium-gray);
}

.boards-list{
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
    padding: 10px 0;
    gap: 1em;
    list-style: none;
    scrollbar-width: thin;
}

.boards-container{
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px 0;
    gap: 1em;
    list-style: none;
    scrollbar-width: thin;
}


.board-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 46px !important;
    padding-left: 1em;
    padding: 1em;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.selected-board-item{
    color: var(--white);
    background-color: var(--main-purple);
}

.selected-board-item svg path{
    fill: var(--white);
}

.board-item:hover{
    color: var(--white);
    background-color: var(--main-purple-hover) !important;   
}

.board-item:hover svg path{
    fill: white;
}

.board-text{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
    cursor: pointer;
}

.theme-box{
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--very-dark-gray);
}

.boards-list.light-theme{
    color: var(--medium-gray) !important;
}

.boards-container.light-theme{
    color: var(--medium-gray) !important;
}

.theme-box.light-theme{   
    background-color: var(--light-background) !important ;
}


.hide-sidebar-box.light-theme{
    color: var(--medium-gray) !important;
}

@media screen and (min-width: 768px) {
    .board-modal{
        min-width: 240px;
        justify-content: space-between;
        padding: 2em 20px 2em 0;
        border-right: 1px solid var(--lines-dark);
    }


    .board-modal.light-theme{
        min-width: 240px;
        justify-content: space-between;
        padding: 2em 20px 2em 0;
        border-right: 1px solid var(--lines-light);
    }

    .logo{
        width: 100%;
        margin-left: 1em;
    }

    .boards-list{
        height: 300px;
    }

    .theme-box{
        margin: 0 auto;
    }

    .create-board-text{
        margin-top: 1em;
    }

    .boards-list{
        height: max-content;
        max-height: 90%;
        overflow-y: scroll;
    }

    .boards-container{
        height: 700px !important;
        max-height: 100%;
        overflow: auto;
    }

    *::-webkit-scrollbar{
        width: 5px;
    }
}